@use "sass:color";

/* SCSS HEX */
$rich-black: #0e1116ff;
$silver: #ceccccff;
$lavender-blush: #fdecefff;
$mauveine: #9000b3ff;
$tangerine: #f08700ff;

/* SCSS HSL */
$rich-black: hsla(218, 22%, 7%, 1);
$silver: hsla(0, 2%, 80%, 1);
$lavender-blush: hsla(349, 81%, 96%, 1);
$mauveine: hsla(288, 100%, 35%, 1);
$tangerine: hsla(34, 100%, 47%, 1);

/* SCSS RGB */
$rich-black: rgba(14, 17, 22, 1);
$silver: rgba(206, 204, 204, 1);
$lavender-blush: rgba(253, 236, 239, 1);
$mauveine: rgba(144, 0, 179, 1);
$tangerine: rgba(240, 135, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-right: linear-gradient(
  90deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-left: linear-gradient(
  270deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);
$gradient-radial: radial-gradient(
  #0e1116ff,
  #ceccccff,
  #fdecefff,
  #9000b3ff,
  #f08700ff
);

:root {
  /* CSS HEX */
  --rich-black: #0e1116ff;
  --silver: #ceccccff;
  --lavender-blush: #fdecefff;
  --mauveine: #9000b3ff;
  --tangerine: #f08700ff;
}
